
<form #personalForm="ngForm" class="editForm" >
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <h6>{{subtitle}}</h6>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                          <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre(s)"  [formControl]="nombreFormControl" [errorStateMatcher]="matcher" id="nombre" name="nombre" type="text" placeholder="*Nombre" [(ngModel)]="personal.nombre">
                        <mat-hint><span class="requerido" *ngIf="nombreFormControl.value==null">campo obligatorio</span></mat-hint>

                        <mat-error *ngIf="nombreFormControl.hasError('required')">
                            Campo <strong>requerido</strong>
                        </mat-error>

                    </mat-form-field>


                    </div>
                    <div class='col-xs-12 col-sm-6'>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="*Apellidos" [formControl]="apellidosFormControl" [errorStateMatcher]="matcher" id="apellidos" name="apellidos" type="text" placeholder="*Apellidos" [(ngModel)]="personal.apellidos">
                        <mat-hint class="requerido"><span class="requerido" *ngIf="apellidosFormControl.value==''">campo obligatorio</span></mat-hint>
                        <mat-error *ngIf="apellidosFormControl.hasError('required')">
                            Campo <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                        </div>

                </div><br>

                <div class="row">
                    <div class='col-xs-12 col-sm-6'>

                        <mat-form-field class="example-full-width">
                            <mat-select [placeholder]="placeholdertipodoc" [formControl]="tipodedocumentoFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.tipodoc" name="tipodoc" id="tipodoc" >
                                <mat-option *ngFor="let t of td" [value]="t.id">
                                    {{ t.tipo }}
                                </mat-option>
                            </mat-select>
                            <mat-hint><span class="requerido" *ngIf="tipodedocumentoFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="tipodedocumentoFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>


                    </div>
                    <div class='col-xs-12 col-sm-6'>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nro de Documento" [formControl]="nrodocumentoFormControl" [errorStateMatcher]="matcher" id="nrodocumento" name="nrodocumento" type="text" placeholder="*Nro de Documento" [(ngModel)]="personal.nrodoc">
                            <mat-hint>Nro de Documento <span class="requerido" *ngIf="nrodocumentoFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="nrodocumentoFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div><br>

                <div class="row">

                    <div class='col-xs-12 col-sm-6'>


                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email@email.com" [formControl]="emailFormControl" [errorStateMatcher]="matcher" id="email" name="email" type="email"  [(ngModel)]="personal.email" (keyup)="validateMail(personalForm);">
                        <mat-hint><span class="requerido" *ngIf="emailFormControl.value==''">campo obligatorio</span></mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Campo <strong>requerido</strong> y <strong>válido</strong>
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('notUnique')">
                            Email <strong>en uso</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                    <div class='col-xs-12 col-sm-6'>


                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Repita su email" [formControl]="emailFormControl2" [errorStateMatcher]="matcher2" id="email2" name="email2" type="email"  [(ngModel)]="personal.email2" (keyup)="validateMail2(personalForm);" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                            <mat-hint><span class="requerido" *ngIf="emailFormControl2.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="emailFormControl2.hasError('required')">
                                Campo <strong>requerido</strong> y <strong>válido</strong>
                            </mat-error>
                            <mat-error *ngIf="emailFormControl2.hasError('notUnique')">
                                Email <strong>en uso</strong>
                            </mat-error>
                            <mat-error *ngIf="emailFormControl2.hasError('repetido')">
                                <strong>Ingrese el mismo email en los dos campos.</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>

                    <br>

             

                   <!-- Nacimiento -->


             <div class="row"><br>

                <div class='col-xs-6 col-sm-4'>
                    <mat-form-field class="example-full-width">
                        <mat-select [placeholder]="placeholderpaisNacimiento" [formControl]="paisNacimientoFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.paisNacimiento" name="paisNacimiento" id="paisNacimiento" (selectionChange)="changepaisNacimiento();">
                            <mat-option *ngFor="let t of paisesNacimiento" [value]="t.id">
                                {{ t.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint><span class="requerido" *ngIf="paisNacimientoFormControl.value==''">campo obligatorio</span></mat-hint>
                        <mat-error *ngIf="paisNacimientoFormControl.hasError('required')">
                            Campo <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class='col-xs-6 col-sm-4'>

                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Provincia"   [(ngModel)]="personal.provinciaNacimiento" name="provinciaNacimiento" id="provinciaNacimiento" (selectionChange)="changeprovinciaNacimiento(personal.provinciaNacimiento);">
                        <mat-option *ngFor="let p of (paisesNacimiento | filter:{'id':personal.paisNacimiento})[0].provincias" [value]="p.id">
                            {{ p.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

              
                </div>

                <div class='col-xs-6 col-sm-4'>

                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Localidad"   [(ngModel)]="personal.localidadNacimiento" name="localidadNacimiento" id="localidadNacimiento">
                            <mat-option *ngFor="let l of localidadesNacimiento" [value]="l.id">
                                {{ l.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div><br>

             <!-- end nacimiento -->

             <div class="row">
                <div class='col-xs-12 col-sm-6'>

                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" [formControl]="fechadenacimientoFormControl" id="fechanacimiento" name="fechanacimiento" [(ngModel)] ="personal.fechanacimiento" (ngModelChange)="changefechanacimiento($event);">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker ></mat-datepicker>
                        <mat-hint><span class="requerido" *ngIf="fechadenacimientoFormControl.value==null">campo obligatorio</span></mat-hint>
                    </mat-form-field>
                </div>          

              
                  

                <div class='col-xs-12 col-sm-6'>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Lugar de nacimiento" [formControl]="lucagarNacimientoFormControl" [errorStateMatcher]="matcher" id="lugarnacimiento" name="lugarnacimiento" type="text" placeholder="Lugar de nacimiento" [(ngModel)]="personal.lugarnacimiento">
                        <mat-hint><span>Complete si es necesario</span></mat-hint>
                        <!-- <mat-error *ngIf="nrodocumentoFormControl.hasError('required')">
                            Campo <strong>requerido</strong>
                        </mat-error> -->
                    </mat-form-field>

                </div>

            </div><br>


                <div class="row">

                    <div class='col-xs-12 col-sm-6'>
                         <mat-form-field class="example-full-width">
                            <mat-select  [formControl]="sexoFormControl" placeholder="Sexo" [errorStateMatcher]="matcher"  [(ngModel)]="personal.sexo" name="sexo" id="sexo" >
                                <mat-option  value="M">
                                 Masculino
                                </mat-option>
                                <mat-option  value="F">
                                    Femenino
                                </mat-option>
                                <mat-option  value="O">
                                    Otro
                                </mat-option>
                            </mat-select>
                            <mat-hint><span class="requerido" *ngIf="sexoFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="sexoFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class='col-xs-12 col-sm-6'>
                        <mat-form-field class="example-full-width">
                            <mat-select [placeholder]="placeholderestadoCivil" [formControl]="estadoCivilFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.estadocivil" name="estadocivil" id="estadocivil" >
                                <mat-option *ngFor="let t of ec" [value]="t.id">
                                    {{ t.nombre }}
                                </mat-option>
                            </mat-select>
                            <mat-hint><span class="requerido" *ngIf="estadoCivilFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="estadoCivilFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div><br>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Si tiene hijo(s) complete los datos siguientes:</label>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Hijo</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let h of Hijos; let i = index">

                              <td>
                                <mat-form-field class="">
                                    <mat-select placeholder="Sexo"  [(ngModel)]="h.sexo" name="{{h.sexo}}" >
                                        <mat-option *ngFor="let s of sexos" value={{s.sexo}}>
                                            {{ s.sexo }}
                                        </mat-option>                                      
                                    </mat-select>                                    
                                </mat-form-field>                               

                              </td>

                                <td>
                                    <!--<input [(ngModel)]="h.fechanacimiento"  class="form-control" type="date" name="{{h.fechanacimiento}}"/>-->
                                    <mat-form-field class="">
                                        <input matInput [matDatepicker]="picker2"   name="{{h.fechanacimiento}}" [(ngModel)] ="h.fechanacimiento">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                                    </mat-form-field>
                                </td>

                                <td class="verticaltdcontent">
                                    <button  class="tabledeletebtn mat-icon-button mat-accent" (click)="deleteFieldValue(i)"><i class="material-icons">
                                            delete
                                    </i></button>

                                </td>
                            </tr>
                            <tr>
                              <td>                                
                                    <mat-form-field class="example-full-width">
                                        <mat-select  placeholder="Sexo"  name="newAttributeSexo" [(ngModel)] ="Hijo.sexo">
                                            <mat-option *ngFor="let s of sexos" value={{s.sexo}}>
                                                {{ s.sexo }}
                                            </mat-option>
                                        </mat-select>                                        
                                    </mat-form-field>

                                    <!-- <mat-form-field class="">
                                        <mat-select placeholder="Tipo"  [(ngModel)]="Telefono.tipo" name="newTipo" >
                                            <mat-option *ngFor="let tt of tipostelefono" value={{tt.id}}>
                                                {{ tt.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                               
                              </td>
                                <td>
                                    <!--<input class="form-control" type="date" id="newAttributeCode" [(ngModel)]="Hijo.fechanacimiento" name="newAttributeCode" />-->
                                    <mat-form-field class="">
                                        <input matInput [matDatepicker]="picker3"   id="newAttributeCode" [(ngModel)]="Hijo.fechanacimiento" name="newAttributeCode" (ngModelChange)="Colorear();">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi="true" #picker3></mat-datepicker>
                                    </mat-form-field>
                                </td>

                                <td class="verticaltdcontent">

                                    <button mat-raised-button class="{{classbtnAgregarHijos}}"  (click)="addHijo();">Agregar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                </div>


                <div class="row">
                    <div class="col-md-8">
                        <p>
                        <strong>  <em class="headerinform">Datos de Acceso y Contacto</em></strong>

                        </p>
                    </div>
                </div>
                <div class="row">
                <div class='col-xs-6 col-sm-4'>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Calle" [formControl]="calleFormControl" [errorStateMatcher]="matcher" id="calle" name="calle" type="text" placeholder="Calle" [(ngModel)]="personal.calle">
                        <mat-hint><span class="requerido" *ngIf="calleFormControl.value==''">campo obligatorio</span></mat-hint>

                        <mat-error *ngIf="calleFormControl.hasError('required')">
                            Campo <strong>requerido</strong>
                        </mat-error>

                    </mat-form-field>
                 </div>
                    <div class='col-xs-6 col-sm-4'>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Calle" [formControl]="nroCalleFormControl" [errorStateMatcher]="matcher" id="nrocalle" name="nrocalle" type="text" placeholder="Nro Calle" [(ngModel)]="personal.nrocalle">
                            <mat-hint><span class="requerido" *ngIf="nroCalleFormControl.value==''">campo obligatorio</span></mat-hint>

                            <mat-error *ngIf="nroCalleFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>

                        </mat-form-field>
                    </div>
                    <div class='col-xs-6 col-sm-4'>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Piso"  [errorStateMatcher]="matcher" id="piso" name="piso" type="text"  [(ngModel)]="personal.piso">
                         </mat-form-field>
                    </div>

                </div><br>

                <div class="row">

                    <div class='col-xs-6 col-sm-4'>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Depto"   id="depto" name="depto" type="text"  [(ngModel)]="personal.depto">
                        </mat-form-field>
                    </div>
                    <div class='col-xs-6 col-sm-4'>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Código Postal" maxlength="5" minlength="5" [formControl]="cpFormControl" [errorStateMatcher]="matcher" #codigopostal  id="codigopostal" name="codigopostal" type="text"  [(ngModel)]="personal.codigopostal">
                            <mat-hint align="start"><span class="requerido" *ngIf="cpFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-hint align="end">{{codigopostal.value.length}} / 5</mat-hint>
                            <mat-error *ngIf="cpFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>    
                        </mat-form-field>
                        
                    </div>

                </div>

                <div class="row"><br>

                    <div class='col-xs-6 col-sm-4'>
                        <mat-form-field class="example-full-width">
                            <mat-select [placeholder]="placeholderpais" [formControl]="paisFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.pais" name="pais" id="pais" (selectionChange)="changepais();">
                                <mat-option *ngFor="let t of paises" [value]="t.id">
                                    {{ t.nombre }}
                                </mat-option>
                            </mat-select>
                            <mat-hint><span class="requerido" *ngIf="paisFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="paisFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class='col-xs-6 col-sm-4'>

                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Provincia"   [(ngModel)]="personal.provincia" name="provincia" id="provincia" (selectionChange)="changeprovincia(personal.provincia);">
                            <mat-option *ngFor="let p of (paises | filter:{'id':personal.pais})[0].provincias" [value]="p.id">
                                {{ p.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>

                    <div class='col-xs-6 col-sm-4'>

                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Localidad"   [(ngModel)]="personal.localidad" name="localidad" id="localidad">
                                <mat-option *ngFor="let l of localidades" [value]="l.id">
                                    {{ l.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </div><br>

           

                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Números Telefónicos:</label>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>

                                <th>Número</th>
                                <th>Tipo</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let n of Telefonos; let i = index">

                                <td>

                                    <mat-form-field class="">
                                        <input matInput   name="{{n.numero}}" [(ngModel)] ="n.numero">
                                    </mat-form-field> 
                                </td>

                                <td>
                                    <mat-form-field class="">
                                        <mat-select placeholder="Tipo"  [(ngModel)]="n.tipo" name="{{n.tipo}}" >
                                            <mat-option *ngFor="let t of tipostelefono" value={{t.id}}>
                                                {{ t.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>

                                <td class="verticaltdcontent">                                       
                                    <button class="tabledeletebtn" mat-icon-button color="accent" (click)="deleteTelefono(i)">
                                            <i class="material-icons">
                                                    delete
                                            </i>
                                    </button>                                  
                                </td>
                            </tr>
                            <tr>
                                <td>                        
                                        <mat-form-field class="example-full-width">                                          
                                        <!-- <span style="border: 1px solid;" matPrefix (click)="prefixDialog()">{{prefixvalue}}-</span>          
                                        <input matInput type="tel" id="newNumero" [(ngModel)]="Telefono.numero" name="newNumero" (keyup)="ColorearAddTelefono()" (change)="ColorearAddTelefono()">    
                                     </mat-form-field>
                                    -->
                                       
                                            <span matPrefix class="forcedit" (click)="prefixDialog()"  matTooltip="Click para editar el prefijo"> {{prefixvalue}} &nbsp;</span>
                                            <input type="tel" matInput  id="newNumero" [(ngModel)]="Telefono.numero" name="newNumero" (keyup)="ColorearAddTelefono()" (change)="ColorearAddTelefono()">
                                            <mat-icon matSuffix >mode_edit</mat-icon>
                                        
                                    </mat-form-field>                                  
                                   
                                  
                                </td>

                                <td>

                                    <mat-form-field class="">
                                        <mat-select placeholder="Tipo"  [(ngModel)]="Telefono.tipo" name="newTipo" >
                                            <mat-option *ngFor="let tt of tipostelefono" value={{tt.id}}>
                                                {{ tt.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>

                                <td>
                                    <button mat-raised-button class="{{classbtnAgregartelefono}}" (click)="addTelefono()">Agregar</button>

                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                </div>

                <div class="row">
                    <div class='col-md-6'>
                    <mat-form-field class="">
                        <mat-select placeholder="Disponibilidad de traslado"  [formControl]="dispotrasladoFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.dispotraslado" name="dispotraslado" id="dispotraslado" >
                            <mat-option *ngFor="let t of dispotrasladolist" value={{t.id}}>
                                {{ t.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint><span class="requerido" *ngIf="dispotrasladoFormControl.value==''">campo obligatorio</span></mat-hint>
                        <mat-error *ngIf="dispotrasladoFormControl.hasError('required')">
                            Campo <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                        </div>

                    <div class='col-md-6'>
                        <mat-form-field class="">
                            <mat-select placeholder="Disponibilidad de horas" [formControl]="disphorasFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.dispohoras" name="dispohoras" id="dispohoras" >
                                <mat-option *ngFor="let t of dispohoraslist" value={{t.id}}>
                                    {{ t.valor }}
                                </mat-option>
                            </mat-select>
                            <mat-hint><span class="requerido" *ngIf="disphorasFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="disphorasFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                
                </div><br>
                <div class="row">
                <div class='col-md-6'>
                        <mat-form-field class="">
                            <mat-select placeholder="Movilidad Propia" [formControl]="movpropiaFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="personal.movilidadpropia" name="movilidadpropia" id="movilidadpropia" >
                                <mat-option *ngFor="let t of movilidadpropialist" value={{t.id}}>
                                    {{ t.nombre }}
                                </mat-option>
                            </mat-select>
                            <mat-hint><span class="requerido" *ngIf="movpropiaFormControl.value==''">campo obligatorio</span></mat-hint>
                            <mat-error *ngIf="movpropiaFormControl.hasError('required')">
                                Campo <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div></div>
                <br><br>

                <div class="form-group text-center">
                    <button class="btn btn-borders btn-quaternary mr-xs mb-sm" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)" style="float: right;margin: 40px"> Siguiente <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</form>


