
<form #workForm="ngForm" class="editForm" novalidate>

        <div class="tab-pane fade in active">
            <h4 class="head text-center">{{title}}</h4>
            <h4 class="text-center">Saber qué has estudiado nos permite elegirte </h4>
            <br/>


                <div class='col-xs-4 col-sm-4' style="text-align: right">
                    <button class="btn btn-borders btn-quaternary mr-xs mb-sm agregaridioma" (click)="addNew()">
                        <span class="glyphicon glyphicon-plus"></span>
                       Agregar Estudio
                    </button>

                </div>


         <div class="row">
             <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>

              <div class="row tablaestudios">

                  <div class='tablecontainer'>
                      <mat-table #table [dataSource]="dataSourceEstudios" matSort class="mat-cell">

                          <ng-container matColumnDef="estudiotipo">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Estudio</mat-header-cell>
                              <mat-cell *matCellDef="let row" >

                                  {{FromTipo(row.estudiotipo)}}


                              </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="estudioestado">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                              <mat-cell *matCellDef="let row" >

                                  {{FromEstado(row.estudioestado)}}


                              </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="estudiotitulo">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
                              <mat-cell *matCellDef="let row" >

                                  {{FromNombre(row.estudiotitulo)}}


                              </mat-cell>
                          </ng-container>




                          <mat-header-row *matHeaderRowDef="displayedEstudiosColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedEstudiosColumns;"></mat-row>

                          <ng-container matColumnDef="actions">
                              <mat-header-cell *matHeaderCellDef>
                                  Acciones
                              </mat-header-cell>

                              <mat-cell *matCellDef="let row; let i=index;">

                                  <button class="tabledeletebtn" mat-icon-button color="accent" (click)="deleteItemEstCursado(row)">
                                        <i class="material-icons">
                                                delete
                                        </i>
                                  </button>
                                  <button style="margin-left: 20px !important;" class="tabledeletebtn" mat-icon-button color="accent" (click)="editItemEstCursado(row)">
                                    <mat-icon matSuffix >mode_edit</mat-icon>
                                  </button>
                              </mat-cell>
                          </ng-container>

                      </mat-table>

                  </div>

              </div>

<br>
<br>
<br>
                <div class="row">

                    <h4 class="head text-left text-uppercase font-weight-bold">
                        Idiomas
                    </h4>

                    <div class='col-xs-6 col-sm-3'>
                        <mat-form-field class="example-full-width">
                            <mat-select [placeholder]="idiomasPlaceHolder"   name="idioma" id="idioma"  [(ngModel)]="estudioIdioma.idioma">
                                <mat-option *ngFor="let t of idiomas" [value]="t.id">
                                    {{ t.idioma }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class='col-xs-6 col-sm-3'>
                        <button class="btn btn-borders btn-quaternary mr-xs mb-sm agregaridioma" (click)="AgregarIdioma();" style="margin-top: 11px;">
                            <span  class="glyphicon glyphicon-plus"></span>
                            Agregar Idioma
                        </button>

                    </div>


                </div>
                <div class="row">

                    <div class='tablecontainer tablaestudios'>
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

                            <ng-container matColumnDef="idioma">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Idioma</mat-header-cell>
                                <mat-cell *matCellDef="let row" >

                                    {{row.idiomaname}}


                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nivellectura">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Lectura</mat-header-cell>
                                <mat-cell *matCellDef="let row" >

                                    <mat-select [placeholder]="nivelesPlaceHolder"  [(ngModel)]="row.nivellectura" name="{{row.nivellectura+'lectura'+row.idioma}}" (selectionChange)="updateEstudioIdiomas();" >
                                        <mat-option *ngFor="let t of niveles" [value]="t.id">
                                            {{ t.nivel }}
                                        </mat-option>
                                    </mat-select>

                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nivelescritura">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Escritura</mat-header-cell>
                                <mat-cell *matCellDef="let row" >
                                    <mat-select [placeholder]="nivelesPlaceHolder"  [(ngModel)]="row.nivelescritura" name="{{row.nivelescritura+'escritura'+row.idioma}}" (selectionChange)="updateEstudioIdiomas();">
                                        <mat-option *ngFor="let t of niveles" [value]="t.id">
                                            {{ t.nivel }}
                                        </mat-option>
                                    </mat-select>



                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nivelconversacion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Conversacion</mat-header-cell>
                                <mat-cell *matCellDef="let row" >

                                    <mat-select [placeholder]="nivelesPlaceHolder"  [(ngModel)]="row.nivelconversacion" name="{{row.nivelconversacion+'conversacion'+row.idioma}}" (selectionChange)="updateEstudioIdiomas();">
                                        <mat-option *ngFor="let t of niveles" [value]="t.id">
                                            {{ t.nivel }}
                                        </mat-option>
                                    </mat-select>


                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                    Acciones
                                </mat-header-cell>

                                <mat-cell *matCellDef="let row; let i=index;">

                                    <button class="tabledeletebtn" mat-icon-button color="accent" (click)="deleteItem(row.idioma)">
                                            <i class="material-icons">
                                                    delete
                                            </i>
                                    </button>
                                </mat-cell>
                            </ng-container>

                        </mat-table>

                    </div>

                </div>


                <br>
                <div class="row">

                    <h4 class="head text-left text-uppercase font-weight-bold">
                        Cursos/Seminarios/Congresos
                    </h4>
                    <div class="row">
                    <div class='col-xs-12 col-sm-12'>

                        <mat-form-field class="example-full-width">
                        <textarea  matInput  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"  name="cursos" type="text" placeholder="Cursos" [(ngModel)]="estudio.cursos">
                        </textarea>
                        <button matSuffix (click)="addCurso();">+</button>
                        <mat-hint>Cursos recibidos</mat-hint>
                        </mat-form-field>

                    </div></div>
                    <div class="row"><br>
                    <div class='col-xs-12 col-sm-12'>

                        <mat-form-field class="example-full-width">
                        <textarea  matInput  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"  name="seminarios" type="text" placeholder="Seminarios" [(ngModel)]="estudio.seminarios">
                        </textarea>
                        <button matSuffix (click)="addSeminario();">+</button>
                            <mat-hint>Seminarios recibidos</mat-hint>
                        </mat-form-field>

                    </div></div><br>

                    <div class="row">
                    <div class='col-xs-12 col-sm-12'>

                        <mat-form-field class="example-full-width">
                        <textarea  matInput  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"  name="congresos" type="text" placeholder="Congresos" [(ngModel)]="estudio.congresos">
                        </textarea>
                        <button matSuffix (click)="addCongreso();">+</button>
                            <mat-hint>Congresos a los que has asistido</mat-hint>
                        </mat-form-field>

                    </div>
</div>


                </div>

                <br><br>



                <div class="form-group text-center space-20" style="margin-bottom: 40px">
                    <button style="float: left"  class="btn btn-borders btn-warning mr-xs mb-sm" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Anterior</button>
                    <button style="float: right"  class="btn btn-borders btn-quaternary mr-xs mb-sm" [disabled]="!workForm.valid" (click)="goToNext(workForm)"> Siguiente <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>

                </div>

                </div>

            </div>

        </div>

</form>
