
<br>
<br>
<br>
<br>

<div role="main" class="main">


       <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}">
            <ul>
                <li data-transition="fade">
                    <img src="assets/rrhh/imgs/fondo verde.png"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption "
                         data-x="177"
                         data-y="188"
                         data-start="1000"
                         data-transform_in="x:[-300%];opacity:0;s:500;"><img src="assets/rrhh/imgs/te estamos.png" alt=""></div>

                    <!--<div class="tp-caption top-label"-->
                         <!--data-x="227"-->
                         <!--data-y="180"-->
                         <!--data-start="500"-->
                         <!--data-transform_in="y:[-300%];opacity:0;s:500;">TE ESTAMOS </div>-->

                    <div class="tp-caption "
                         data-x="480"
                         data-y="188"
                         data-start="1000"
                         data-transform_in="x:[300%];opacity:0;s:500;"><img src="assets/img/slides/slide-title-border.png" alt=""></div>

                    <div class="tp-caption "
                         data-x="135"
                         data-y="210"
                         data-start="1500"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">BUSCANDO</div>

                    <div class="tp-caption bottom-label"
                         data-x="185"
                         data-y="280"
                         data-start="2000"
                         data-transform_in="y:[100%];opacity:0;s:500;">A VOS</div>

                    <div class="tp-caption"
                         data-x="910"
                         data-y="248"
                         data-start="2500"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;"><img src="assets/img/slides/slide-concept-2-1.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="960"
                         data-y="200"
                         data-start="3500"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="assets/img/slides/slide-concept-2-2.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="930"
                         data-y="170"
                         data-start="3650"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="assets/img/slides/slide-concept-2-3.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="880"
                         data-y="130"
                         data-start="3750"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="assets/img/slides/slide-concept-2-4.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="610"
                         data-y="80"
                         data-start="3950"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="assets/img/slides/slide-concept-2-5.png" alt=""></div>

                    <div class="tp-caption blackboard-text"
                         data-x="640"
                         data-y="300"
                         data-start="3950"
                         style="font-size: 37px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">Think</div>

                    <div class="tp-caption blackboard-text"
                         data-x="665"
                         data-y="350"
                         data-start="4150"
                         style="font-size: 47px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">Outside</div>

                    <div class="tp-caption blackboard-text"
                         data-x="690"
                         data-y="400"
                         data-start="4350"
                         style="font-size: 32px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">The box :)</div>
                </li>
                <li data-transition="fade">
                    <img src="assets/img/slides/slide-bg.jpg"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg" data-no-retina>

                    <div class="tp-caption top-label"
                         data-x="155"
                         data-y="100"
                         data-start="500"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"><img src="assets/img/slides/slide-concept.png" alt=""></div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="180"
                         data-start="1000"
                         style="font-size: 30px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">easy to</div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="220"
                         data-start="1200"
                         style="font-size: 40px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">customize!</div>

                    <div class="tp-caption main-label"
                         data-x="685"
                         data-y="190"
                         data-start="1800"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">DESIGN IT!</div>

                    <div class="tp-caption bottom-label"
                         data-x="685"
                         data-y="250"
                         data-start="2000"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05">Create slides with brushes and fonts</div>

                </li>
            </ul>
        </div>
    </div>


    <div class="home-intro" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        The fastest way to grow your business with the leader in <em>Technology</em>
                        <span>Check out our options and features included.</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="get-started">
                        <a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
                        <div class="learn-more">or <a href="index.html">learn more.</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row center">
            <div class="col-md-12">
                <h1 class="mb-sm word-rotator-title">
                    Porto is
                    <strong class="inverted">
									<span class="word-rotate" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
										<span class="word-rotate-items">
											<span>incredibly</span>
											<span>especially</span>
											<span>extremely</span>
										</span>
									</span>
                    </strong>
                    beautiful and fully responsive.
                </h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                </p>
            </div>
        </div>

    </div>

    <div class="home-concept appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
        <svg class="home-concept-bg" x="0px" y="0px" width="345px" height="93px" viewBox="0 0 345 83" enable-background="new 0 0 345 93" xml:space="preserve">
						<image overflow="visible" width="26" height="39" xlink:href="assets/img/home-concept-pin.png" transform="matrix(0.169 0.1308 -0.1308 0.169 339.8496 0.6826)" class="final-pin appear-animation" data-appear-animation="animated-pin" data-appear-animation-delay="3650">
						</image>
						<path class="line appear-animation" fill="none" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-duration="4s" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
						<path fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
						<image overflow="visible" width="26" height="39" xlink:href="assets/img/home-concept-pin.png" transform="matrix(0.2137 0 0 0.2137 1 81.5898)" class="initial-pin appear-animation" data-appear-animation="animated-pin">
						</image>
					</svg>
        <div class="container">

            <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="800" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img src="assets/img/home-concept-item-1.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1400" />
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" data-plugin-options="{'accY': 200}">Strategy</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1200" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img src="assets/img/home-concept-item-2.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1900" />
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2150" data-plugin-options="{'accY': 200}">Planning</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1700" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img src="assets/img/home-concept-item-3.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2400" />
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2650" data-plugin-options="{'accY': 200}">Build</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div class="box-image">
                            <svg class="big-circle" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="2250" cx="42.5" cy="42.5" r="42.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="42.5" cy="42.5" r="42.063"/>
										</svg>
                            <div id="fcSlideshow" class="fc-slideshow appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2900">
                                <ul class="fc-slides">
                                    <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="assets/img/projects/project-home-1.jpg" alt="" /></a></li>
                                    <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="assets/img/projects/project-home-2.jpg" alt="" /></a></li>
                                    <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="assets/img/projects/project-home-3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <strong class="our-work appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="3150" data-plugin-options="{'accY': 300}">Our Work</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row">
            <hr class="tall">
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h2>Our <strong>Features</strong></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Customer Support</h4>
                                <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">HTML5 / CSS3 / JS</h4>
                                <p class="tall">Lorem ipsum dolor sit amet, adip.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-google-plus"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">500+ Google Fonts</h4>
                                <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-adjust"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Colors</h4>
                                <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-film"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Sliders</h4>
                                <p class="tall">Lorem ipsum dolor sit amet, consectetur.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Icons</h4>
                                <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Buttons</h4>
                                <p class="tall">Lorem ipsum dolor sit, consectetur adip.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Lightbox</h4>
                                <p class="tall">Lorem sit amet, consectetur adip.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>and more...</h2>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-usd"></i>
                                    Pricing Tables
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="panel-body">
                                Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="fa fa-comment"></i>
                                    Contact Forms
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="panel-body">
                                Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="fa fa-laptop"></i>
                                    Portfolio Pages
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="panel-body">
                                Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="tall">





    </div>




</div>
