
<br>
<br>
<br>
<br>

<div role="main" class="main">


       <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}">
            <ul>
                <li data-transition="fade">
                    <img src="assets/rrhh/imgs/fondo verde.png"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">


                         
                    <div class="tp-caption"
                    data-x="100"
                    data-y="180"
                    data-start="100"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                     <img src="assets/img/slides/lupa.png" alt=""></div>

                         <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="180"
                         data-start="700"
                         style="font-size: 30px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">TE ESTAMOS</div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="220"
                         data-start="1100"
                         style="font-size: 40px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">BUSCANDO</div>
                    
                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="260"
                         data-start="1400"
                         style="font-size: 40px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">A VOS!</div>
                    
                      <div class="tp-caption"
                         data-x="360"
                         data-y="380"
                         data-start="1600"
                          data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                          <img src="assets/img/slides/flecha1.png" alt=""></div>

                      <div class="tp-caption"
                          data-x="592"
                          data-y="61"
                          data-start="2600"
                           data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                           <img src="assets/img/slides/reloj.png" alt=""></div>

                           <div class="tp-caption"
                           data-x="609"
                           data-y="179"
                           data-start="2200"
                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                            <img src="assets/img/slides/tu tiempo es.png" alt=""></div>

                            <div class="tp-caption"
                            data-x="635"
                            data-y="233"
                            data-start="2900"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                             <img src="assets/img/slides/ahora.png" alt=""></div>

                             <div class="tp-caption"
                             data-x="755"
                             data-y="35"
                             data-start="3200"
                              data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                              <img src="assets/img/slides/flecha2.png" alt=""></div>

                              <div class="tp-caption"
                              data-x="897"
                              data-y="40"
                              data-start="3500"
                               data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                               <img src="assets/img/slides/dejanos.png" alt=""></div>

                               <div class="tp-caption"
                               data-x="898"
                               data-y="82"
                               data-start="4000"
                                data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                                <img src="assets/img/slides/tus.png" alt=""></div>

                                <div class="tp-caption"
                                data-x="904"
                                data-y="162"
                                data-start="4600"
                                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                                 <img src="assets/img/slides/datos aqui.png" alt=""></div>

                                 <div class="tp-caption"
                                 data-x="882"
                                 data-y="340"
                                 data-start="5400"
                                  data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;">
                                  <img src="assets/img/slides/mano.png" alt=""></div>
                
                               
                 

                </li>
                <li data-transition="fade">
                    <img src="assets/img/slides/slide-2.jpg"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg" data-no-retina>
                </li>
            </ul>
        </div>
    </div>


    <div class="home-intro" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        Te encontras a un paso de conseguir tu nuevo <em>Trabajo</em>
                        <span>¡Súmate! Excelencia & Trabajo pone a tu servicio las mejores ofertas laborales.</span>
                    </p>
                  
                </div>

                <div class="col-md-2">
                    <div class="get-started">
                        <a [routerLink]="['registrar/personal']" class="btn btn-lg btn-primary">REGISTRATE</a>
                    </div>
                </div>
               
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row center">
            <div class="col-md-12">
                <h1 class="mb-sm word-rotator-title">
                    Ponemos
                    <strong class="inverted">
									<span class="word-rotate" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
										<span class="word-rotate-items">
										<span>Empatía</span>
							              <span>Innovación</span>
							            <span>Responsabilidad</span>
						             	<span>Compromiso</span>
							            <span>Discreción</span>
							            <span>Confidencialidad</span>
							              <span>Pasión</span>
										</span>
									</span>
                    </strong>
                    en todo lo que hacemos.
                </h1>
                <p class="lead">
                    Contamos con un equipo interdisciplinario de profesionales que con actitud y aptitud trabajan adaptándose día a día a las exigencias cada vez más cambiantes del mercado laboral y respondiendo con precisión y agilidad a las necesidades actuales de los empresarios.
                </p>
            </div>
        </div>

    </div>

    <div class="home-concept appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
        <svg class="home-concept-bg" x="0px" y="0px" width="345px" height="93px" viewBox="0 0 345 83" enable-background="new 0 0 345 93" xml:space="preserve">
						<image overflow="visible" width="26" height="39" xlink:href="assets/img/home-concept-pin.png" transform="matrix(0.169 0.1308 -0.1308 0.169 339.8496 0.6826)" class="final-pin appear-animation" data-appear-animation="animated-pin" data-appear-animation-delay="3650">
						</image>
						<path class="line appear-animation" fill="none" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-duration="4s" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
						<path fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
						<image overflow="visible" width="26" height="39" xlink:href="assets/img/home-concept-pin.png" transform="matrix(0.2137 0 0 0.2137 1 81.5898)" class="initial-pin appear-animation" data-appear-animation="animated-pin">
						</image>
					</svg>
        <div class="container">

            <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="800" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img src="assets/img/1.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1400" />
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" data-plugin-options="{'accY': 200}">Creatividad</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1200" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img src="assets/img/2.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1900" />
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2150" data-plugin-options="{'accY': 200}">Innovación</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1700" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img src="assets/img/3.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2400" />
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2650" data-plugin-options="{'accY': 200}">Pasión</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div class="box-image">
                            <svg class="big-circle" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="2250" cx="42.5" cy="42.5" r="42.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="42.5" cy="42.5" r="42.063"/>
										</svg>
                            <div id="fcSlideshow" class="fc-slideshow appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2900">
                                <ul class="fc-slides">
                                    <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="assets/img/4.png" alt="" /></a></li>
                                    <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="assets/img/4.png" alt="" /></a></li>
                                    <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="assets/img/4.png" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <strong class="our-work appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="3150" data-plugin-options="{'accY': 300}">Trayectoria</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row">
            <hr class="tall">
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Nuestros <strong>Servicios</strong></h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Selección de personal</h4> 
                                <p class="tall"></p>                           
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Consultoría y Formación</h4>  
                                <p class="tall"></p>                        
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Personal eventual</h4>
                                <p class="tall"></p>
                            </div>
                        </div>                       
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-film"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Investigación de Mercado</h4>
                                <p class="tall"></p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Estudio de remuneraciones</h4>
                                <p class="tall"></p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Orientación vocacional</h4>
                                <p class="tall"></p>
                            </div>
                      
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Aplicación Tecnológica</h4>
                            <p class="tall"></p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Encuesta de clima</h4>
                            <p class="tall"></p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-sm">Sistema de Evaluación de desempeño</h4>
                            <p class="tall"></p>
                        </div>
                  
                </div>
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-keyboard-o"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="heading-primary mb-none">Entornos Virtuales para el aprendizaje</h4>
                        <p class="tall"></p>
                    </div>
              
            </div>
            </div>
            </div>
    
        </div>

        <hr class="tall">





    </div>




</div>

