<br>
<br>
<div role="main" class="main" style="margin-top: 37px">
    <!--<button class="btn btn-success" (click)="ShowHide();">Mostrar</button>-->
    <div class="board">
        <!-- Navigation Area (Circular Tabs) -->
        <msw-navbar></msw-navbar>
        <!-- End Navigation Area (Circular Tabs) -->

        <!-- Content Area -->
        <div class="tab-content">
            <!-- Nested view  -->
            <router-outlet></router-outlet>
        </div>
        <!-- End Content Area -->
    </div>


</div>




<div>
    <pre *ngIf="show">{{ formData | json }}</pre>
</div>
